<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.masaseolahraga">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="Galeri Sport Massage"
        android:roundIcon="@drawable/img_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.cedera.materi.ActivityStrain"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".view.cedera.materi.ActivityRiceHarm"
            android:exported="false" />
        <activity
            android:name=".view.lainnya.ActivityOtot"
            android:exported="false" />
        <activity
            android:name=".view.lainnya.ActivityTulang"
            android:exported="false" />
        <activity
            android:name=".view.teknik.ActivityVideo"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".view.teknik.ActivityTeknik"
            android:exported="false" />
        <activity
            android:name=".view.lainnya.ActivityProfil"
            android:exported="false" />
        <activity
            android:name=".view.cedera.materi.ActivityPertolongan"
            android:exported="false" />
        <activity
            android:name=".view.cedera.materi.ActivityPencegahan"
            android:exported="false" />
        <activity
            android:name=".view.cedera.materi.ActivityPenyebab"
            android:exported="false" />
        <activity
            android:name=".view.cedera.materi.ActivityJenis"
            android:exported="false" />
        <activity
            android:name=".view.lainnya.ActivityPustaka"
            android:exported="false" />
        <activity
            android:name=".view.cedera.materi.ActivityTingkat"
            android:exported="false" />
        <activity
            android:name=".view.cedera.ActivityCedera"
            android:exported="false" />
        <activity
            android:name=".view.ActivityUtama"
            android:exported="false" />
        <activity
            android:name=".view.ActivityLoading"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>